---
import config from "@config/config.json";
import { dateFormat } from "@lib/utils/dateFormat";

export interface Props {
  post: any;
  url?: string;
}

const { post, url } = Astro.props;
---

<div class="col-lg-6">
  <div class="card card-hover mb-5 mx-lg-2">
    <div class="card-body pt-5 px-5 pb-4 text-center">
      {
        post.data.categories &&
          post.data.categories.map((categorie: any) => (
            <a
              href={`${config.site.baseUrl}${url}`}
              class="d-inline-block link-cta mb-4 text-uppercase"
            >
              {categorie}
            </a>
          ))
      }
      <h2 class="card-title mb-4">
        <a
          class="stretched-link"
          href={`${config.site.baseUrl}${url}${post.data.slug}`}
          >{post.data.title}</a
        >
      </h2>
      <p class="small">
        <span class="text-uppercase">{dateFormat(post.data.date)}</span>
      </p>
      <p class="card-text">{post.data.description}</p>
      <p>
        {
          post.data.tags &&
            post.data.tags.map((tag: any) => (
              <a
                href={`${config.site.baseUrl}tag/${tag}/`}
                class="link-tag text-dark"
              >
                #{tag}
              </a>
            ))
        }
      </p>
    </div>
  </div>
</div>
