---
import config from "@config/config.json";
import { dateFormat } from "@lib/utils/dateFormat";
import Layout from "./index.astro";

const { frontmatter } = Astro.props;
const { title, date, categories, tags } = frontmatter.data;
const { slugPrevious, slugNext } = frontmatter;
---

<Layout title={title}>
  <div class="container">
    <div class="row justify-content-center text-center my-5">
      <div class="col-lg-10">
        {
          categories &&
            categories.map((categorie: any) => (
              <a
                href={`${config.site.baseUrl}categories/${categorie}/`}
                class="d-inline-block link-cta mb-4 text-uppercase"
              >
                {categorie}
              </a>
            ))
        }
        <h1 class="mb-4 text-center">{title}</h1>
        <p class="small mb-5 text-center">
          <span class="text-uppercase">{dateFormat(date)}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="bg-skew bg-skew-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <article class="pb-2">
            <slot />
            <p class="mt-5 text-center">
              {tags && <span class="text-secondary">Tagged: </span>}
              {
                tags &&
                  tags.map((tag: any) => (
                    <a
                      href={`${config.site.baseUrl}tag/${tag}/`}
                      class="link-tag text-dark"
                    >
                      #{tag}
                    </a>
                  ))
              }
            </p>
          </article>
          <div class="row pt-5 pb-5">
            <div class="col-6 text-left">
              {
                slugPrevious && (
                  <a class="text-reset" href={slugPrevious.slug}>
                    &larr; {slugPrevious.title}
                  </a>
                )
              }
            </div>
            <di class="col-6 text-right">
              {
                slugNext && (
                  <a class="text-reset" href={slugNext.slug}>
                    {slugNext.title} &rarr;
                  </a>
                )
              }
            </di>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
